* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 30px 20vw;
}

.sidebar {
  float: left;
  width: 40%;
  padding: 10px;
  padding: -20px;
}
.main {
  float: left;
  width: 60%;
  padding: 10px;
}

.navebar a {
  display: block;
}
