* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding: 1%;
  line-height: 1.625rem;
  background-image: url("./images/noise.jpg");
}

/* BARRA DE Linguagem */

.language {
  text-align: right;
}

.flag_icon {
  width: 1.4rem;
}

/* BARRA DE NAVEGAÇAO */

.sidebar {
  height: 100vh;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.perfil {
  margin: auto;
  width: 70%;
  display: block;
}

.nome {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.82813rem;
}

.profissao {
  font-size: 1rem;
  color: grey;
  font-weight: 600;
  margin-bottom: 1.625rem;
  font-weight: 300;
}

.navebar {
  display: block;
}
.navebar_link {
  margin: 0.625rem 0rem;
  color: black;
  display: block;
  text-decoration: none;
}

.social {
  margin-top: 1.25rem;
}

.social a {
  display: inline;
  margin: 0.5rem;
  margin-left: 0rem;
}

.social_icon {
  width: 1.4rem;
}

.About_me_h1 {
  margin-top: 0;
}

/* FORMATAÇÕES GERAIS */

h1 {
  margin-top: 3.5rem;
  margin-bottom: 0.8125rem;
  font-size: 1.6875rem;
}

ul li {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  list-style-type: square;
}

details {
  margin-bottom: 0.625rem;
  list-style-type: square;
}

a {
  text-decoration: none;
  color: blue;
}

.About_me_details_summary {
  list-style: none;
}

@media screen and (min-width: 648px) {
  .perfil {
    margin: auto;
    width: 150px;
    display: block;
  }

  .container {
    display: flex;
    max-width: 66.875rem;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar {
    flex: 0.8;
    margin-right: 1.875rem;
    text-align: left;
    padding: 2.5rem;
    /* border-right: 1px solid lightgrey; */
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, lightgrey, rgba(0, 0, 0, 0)) 1 100%;
    margin-top: 0;
    border-left: 0;
  }

  .perfil {
    display: inline;
  }

  .main {
    flex: 2;
    padding: 2.5rem 2.1875rem;
  }
}
